html, body {
    height: auto;
    overflow: auto;
}
  
body {
    background-image: url("stars1.gif");
    background-color: #cccccc;
    overflow: auto;
}

.well {
    background-color: #1a1a1a8a
}

#wrap {
  min-height: 100%;
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
  } 
